<div class="card text-bg-dark">
  <img src="/img/principal.png" class="card-img" style="width: 100%; height: 360px;" alt="principal">
  <div class="card-img-overlay ">
    <p class="card-title d-flex justify-content-center fs-1" style="margin-top:50px;color:#6087c9">TÉCNICOS CERTIFICADOS</p>
    <p class="card-text d-flex justify-content-center fs-1" style="margin: 20px;">SERVICIOS</p>
    <p class="card-text d-flex justify-content-center fs-1" style="margin: 20px;"><small>ATENCIÓN A DOMICILIO EN TODA SANTIAGO LAS 24 HORAS DEL DÍA.</small></p>
  </div>
</div>
</div>

<div style="background-color:rgb(244, 246, 243);">
    <p class="fs-2 p-5"  >SERVICIOS DE INSTALACIÒN Y MANTENIMIENTO</p>

    <p class="fs-5" style="margin:15px 0 0 60px;">AJ Instalaciones: Expertos en soluciones eléctricas a tu alcance.
         Ofrecemos un servicio integral y profesional para atención de emergencias eléctricas,
          tanto industriales como residenciales. Nos especializamos en la instalación y mantenimiento de tableros eléctricos,
         asegurando la eficiencia y seguridad que tu empresa o hogar necesita. Además, 
         gestionamos el aumento de capacidad eléctrica y tramitamos la documentación T1 para garantizar el cumplimiento 
         de las normativas vigentes. Confía en nosotros para un servicio eléctrico de calidad y
          respuesta rápida ante cualquier eventualidad.</p>
</div>
</div>

<div class="row p-5" style="background-color:rgb(244, 246, 243);">
    <div class="container-fluid col-md-2" style="display:flex;justify-content:center">
       <div class="row" style="width: 18rem; ">
            <i class="fa-sharp fa-solid fa-screwdriver-wrench fa-flip" style="color:#6087c9;display:flex;justify-content:center;font-size:60px;"></i>
            <div class="card-body">
                <h5 class="card-title mt-4" style="display:flex;justify-content:center;font-size:70px">320</h5>
                <p class="card-text" style="display:flex;justify-content:center"> TRABAJOS REALIZADOS</p>
            </div>
        </div>
    </div>
    <div class="container-fluid col-md-2" style="display:flex;justify-content:center">
       <div class="row" style="width: 18rem; ">
            <i class="fa-sharp fa-solid fa-truck fa-fade" style="color:#6087c9;display:flex;justify-content:center;font-size:60px;"></i>
            <div class="card-body">
                <h5 class="card-title mt-4" style="display:flex;justify-content:center;font-size:70px">21</h5>
                <p class="card-text" style="display:flex;justify-content:center"> Emergencias</p>
            </div>
        </div>
    </div>
    <div class="container-fluid col-md-2" style="display:flex;justify-content:center">
       <div class="row" style="width: 18rem; ">
            <i class="fa-solid fa-house-signal fa-beat-fade" style="color:#6087c9;display:flex;justify-content:center;font-size:60px;"></i>
            <div class="card-body">
                <h5 class="card-title mt-4" style="display:flex;justify-content:center;font-size:70px">214</h5>
                <p class="card-text" style="display:flex;justify-content:center"> Mantenciones</p>
            </div>
        </div>
    </div>
    <div class="container-fluid col-md-2" style="display:flex;justify-content:center">
       <div class="row" style="width: 18rem; ">
            <i class="fa-regular fa-lightbulb fa-bounce" style="color:#6087c9;display:flex;justify-content:center;font-size:60px;"></i>
            <div class="card-body">
                <h5 class="card-title mt-4" style="display:flex;justify-content:center;font-size:70px">87</h5>
                <p class="card-text" style="display:flex;justify-content:center"> Aires Acondicionados</p>
            </div>
        </div>
    </div>
</div>


<div class="row" >
        <div class=" col-md-6 p-5">
        <img src="/img/tablero2.jpg" class="card-img-top" style="height: 350px;" alt="tablero">
        <div class="card-body">
            <h5 class="card-title">TABLEROS ELECTRICOS</h5>
            <p class="card-text">Realizamos cambios y mantenimientos de tableros domiciliarios e industriales hecho por electricistas profesionales.</p>
        </div>
        </div>
        <div class=" col-md-6 p-5">
        <img src="/img/Tuberia.jpg" class="card-img-bottom" style="height: 350px;" alt="instalaciones">
        <div class="card-body">
            <h5 class="card-title">INSTALACIONES ELECTRICAS</h5>
            <p class="card-text">Ejecutamos proyectos eléctricos bajo las normativas eléctricas vigentes tanto industriales como residenciales</p>
        </div>
        </div>
        <div class=" col-md-4 p-5">
        <img src="/img/PORTON-1.jpeg" class="card-img-bottom" style="height: 350px;" alt="instalaciones">
        <div class="card-body">
            <h5 class="card-title">PORTONES ELÉCTRICOS</h5>
            <p class="card-text"> En AJ Instalaciones, somos líderes en automatización de portones, ofreciendo asesoría experta y orientación continua para garantizar la excelencia en cada proyecto.</p>
        </div>
        </div>
        <div class=" col-md-4 p-5">
        <img src="/img/images-2.png" class="card-img-bottom" style="height: 350px;" alt="instalaciones">
        </div>
        <div class=" col-md-4 p-5">
        <img src="/img/RACK.jpeg" class="card-img-bottom" style="height: 350px;" alt="instalaciones">
        <div class="card-body">
            <h5 class="card-title">CORRIENTES DÉBILES</h5>
            <p class="card-text"> Sistemas de control, comunicación y manejo de la información, sean estos de voz, datos, vídeo vigilancia.</p>
        </div>
        </div>
         <div class=" col-md-6 p-5">
        <img src="/img/certificado.jpg" class="card-img-top" style="height: 350px;" alt="tablero">
        <div class="card-body">
            <h5 class="card-title">CERTIFICADO T1</h5>
            <p class="card-text"> Trámite de certificado T1 ante la superintendencia de energía SEC.</p>
        </div>
        </div>
        <div class=" col-md-6 p-5">
        <img src="/img/aire.jpg" class="card-img-bottom" style="height: 350px;" alt="instalaciones">
        <div class="card-body">
            <h5 class="card-title">AIRES ACONDICIONADOS</h5>
            <p class="card-text"> Instalación y mantención de aire acondicionado tipo split.</p>
        </div>
        </div>
</div>

<div class="row" style="background-color:rgb(244, 246, 243);">
    <div class=" col-md-6 p-5">
        <div class="card-body">
            <h2 class="d-flex justify-content-center p-4">¿POR QUE ELEGIRNOS?</h2>
            <div class="d-flex justify-content-center p-3 fs-5">
            <i class="fa-regular fa-circle-check fa-flip m-3" style="color:#004aad;" ></i>
            <span>Contamos con un personal técnico calificado, quienes le darán diagnósticos certeros y le garantizaran un trabajo excelente.</span>
            </div>
            <div class="d-flex justify-content-center p-3 fs-5">
            <i class="fa-regular fa-circle-check fa-flip m-3" style="color:#004aad;"></i>
            <span>Servicios integrales y confiables, de manera rápida, segura y responsable en cada una de nuestras áreas.</span>
            </div>
            <div class="d-flex justify-content-center p-3 fs-5">
            <i class="fa-regular fa-circle-check fa-flip m-3" style="color:#004aad;"></i>
            <span>Empresa Familiar con 2 años de experiencia y buen servicio en el mercado laboral, especializados en Instalaciones eléctricas, reparación y mantención.</span>
            </div>
        </div>
        </div>
        <div class=" col-md-6 p-5">
        <img src="/img/principal_2.jpg" class="card-img-bottom"  alt="instalaciones">
        </div>
</div>


<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">GALERÍA</h5>
    <p class="card-text">Iluminación Interior y Exterior.</p>
    <p class="card-text">Tablero Eléctricos, Gabinetes y Canalización Tubería EMT y Bandeja..</p>
    
  </div>
</div>

{{!-- carrusel --}}

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      
                <div class="row">
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/2.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/3.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/4.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
          </div>
    </div>
    <div class="carousel-item">
      
                <div class="row">
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/1.jpg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/5.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/6.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
          </div>
    </div>
    
    
    <div class="carousel-item">
      
                <div class="row">
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/7.jpg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/8.jpg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/9.jpg" alt="" style="max-width:100%; max-height:100%;">
              </div>
          </div>
    </div>
    
    
    <div class="carousel-item">
      
                <div class="row">
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/10.jpg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/11.jpg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/12.jpg" alt="" style="max-width:100%; max-height:100%;">
              </div>
          </div>
    </div>
    
    
    <div class="carousel-item">
      
                <div class="row">
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/13.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/14.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/15.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
          </div>
    </div>
    
    
    <div class="carousel-item">
      
                <div class="row">
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/16.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/17.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/18.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
          </div>
    </div>
    
    
    <div class="carousel-item">
      
                <div class="row">
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/19.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/20.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
              <div class="col-md-4" style="height:350px">
                  <img src="/img/carrusel/21.jpeg" alt="" style="max-width:100%; max-height:100%;">
              </div>
          </div>
    </div>
    
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="card text-bg-dark mt-4">
  <img src="/img/end.png" class="card-img" style="width: 100%; height: 360px;" alt="principal">
  <div class="card-img-overlay ">
    <h1 class="card-text d-flex justify-content-center p-5" style="text-align: center;" >Nos encargamos de sus problema eléctricos, atendemos todas las urgencias rapidamente!</h1>
    <div style="display:flex;justify-content:center;align-items:center;" >
      <div class="bg-white" style="border-radius: 50%;height: 90px;width: 90px;">
    <img src="/img/logo.png" alt="logo" style="height:90px ;width: 90px;">
    </div>
    </div>

  </div>
</div>
</div>





