<div class="card text-bg-dark mt-4">
  <img src="/img/quienes.png" class="card-img" style="width: 100%; height: 360px;" alt="principal">
  <div class="card-img-overlay ">
    <h3 class="card-text d-flex justify-content-center pt-5" style="text-align: center;color:#1d3297;" >AJ INSTALACIONES</h3>
    <p class="card-text d-flex justify-content-center p-2" style="text-align: center;font-size:50px;" >QUIENES SOMOS</p>
    <h4 class="card-text d-flex justify-content-center p-2" style="text-align: center;" >Consideramos a nuestros clientes y proveedores como nuestros propios socios de negocios.</h4>
    
  </div>
</div>


<div class="row" >
        <div class=" col-md-3 m-5">
        <img src="/img/hombre-electri-1.jpg" class="card-img-top" style="height: 350px;" alt="tablero"> 
        </div>
        <div class=" col-md-3 m-5">
        <div class="card-body">
            <h2 class="card-title" style="color: #6087c9;">HISTORIA</h2> 
            <p class="card-text mt-3"> Nuestra historia como empresa, inicio con pequeños proyectos de instalaciones eléctricas y 
                sistema de seguridad; con el paso del tiempo nos dimos cuenta de que podíamos brindarles a nuestros clientes 
                un servicio más completo, donde ellos además de contar con nuestro servicio de instalación también tuvieran 
                la opción de comprar el producto con nuestra empresa y así poderles brindar el mayor apoyo posible, 
                confianza y seguridad.</p>
                <i class="fa-solid fa-scroll fa-fade d-flex justify-content-center fs-1" style="color: #6087c9;"></i>
        </div>
        </div>
        <div class=" col-md-3 m-5">
        <div class="card-body">
            <h2 class="card-title" style="color: #6087c9;">MISIÓN</h2>
            <p class="card-text mt-3"> Nuestra misión como empresa, es brindarle a 
                nuestra clientela un servicio donde se sientan confiados y seguros al momento de comprar.</p>
                <i class="fa-solid fa-rocket fa-fade d-flex justify-content-center fs-1" style="color: #6087c9;"></i>
        </div>
        </div>

        <div class=" col-md-4 p-5">
        <div class="card-body">
            <h2 class="card-title" style="color: #6087c9;">¿QUIÉNES SOMOS? </h5>
            <p class="card-text mt-3"> Somos una empresa dedicada a la venta de productos eléctricos y de seguridad perimetral.
                 Le brindamos a nuestros clientes un servicio completo donde ellos tienen la opción de comprar nuestros productos
                  y además de adquirir el servicio de instalación (ajinstalaciones.cl); el cual, le dará una mayor confiablidad y 
                  seguridad al momento de comprar.</p>
                  <i class="fa-solid fa-people-group fa-fade d-flex justify-content-center fs-1" style="color: #6087c9;"></i>
        </div>
        </div>
         <div class=" col-md-4 p-5">
        <div class="card-body">
            <h2 class="card-title"style="color: #6087c9;">VISIÓN</h2>
            <p class="card-text mt-3"> Brindar a nuestra clientela un servicio donde se sientan confiados y 
                seguros al momento de comprar.</p>
                <i class="fa-solid fa-eye-low-vision fa-fade d-flex justify-content-center fs-1" style="color: #6087c9;"></i>
        </div>
        </div>
        <div class=" col-md-4 p-5">
        <div class="card-body">
            <h2 class="card-title" style="color: #6087c9;">VALOR</h2>
            <p class="card-text mt-3"> Están fundamentados en la responsabilidad, seguridad y confianza</p>
            <i class="fa-solid fa-vault fa-fade d-flex justify-content-center fs-1" style="color: #6087c9;"></i>
        </div>
        </div>
</div>


<div class="row" >
        <div class=" col-md-6 m-5">
        <img src="/img/Instalacion-electric.jpg" class="card-img-top" style="height: 350px;" alt="tablero"> 
        </div>
        <div class=" col-md-4 m-5">
        <div class="card-body">
            <h4 class="card-title" >Soluciones Tecnológicas En El Área De La Electricidad Y Seguridad.</h4> 
            <p class="card-text mt-3"> SUMINISTROS AJ es una empresa dedicada a la comercialización de materiales eléctricos 
                para la industria y la construcción. Se formó en el año 2018 con el claro objetivo de brindar un servicio diferente.
                 Crecer en estos segmentos de mercado tan exigentes era un desafío importante, pero la perseverancia nos llevó a 
                 ser una de las firmas más reconocidas por clientes y proveedores de nuestro rubro.</p>
        </div>
        </div>
        <div class=" col-md-5 m-5">
        <div class="card-body">
            <p class="card-text mt-3"> El rubro que ocupa comprende todos aquellos materiales eléctricos para instalación,
                 distribución, iluminación, comando de potencia y automatización, etc. Gracias a su desempeño e iniciativa
                  comercial demostrada, consiguió la representación de algunas de las marcas más importantes impuestas en la
                   industria nacional</p>
            <p class="card-text mt-4"> Hoy en día somos considerados uno de los distribuidores más importantes del país tanto
                 por el stock como por la logística que disponemos para atender a los usuarios de las marcas mencionadas
                  (asesoramiento, servicio de capacitación y entrega).</p>
        </div>
        </div>

        <div class=" col-md-6 p-5">
        <img src="/img/camera.jpg" class="card-img-top" style="height: 350px;max-width100%" alt="camera">
        </div>
        </div>
        
</div>

<div class="container-fluid d-flex justify-content-center m-4">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13305.746632170405!2d-70.569899!3d-33.516031!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d1abb5d6ab9f%3A0xd672d89cb896da5b!2sVolc%C3%A1n%20Hornopir%C3%A9n%205937%2C%208270401%20La%20Florida%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1ses!2sus!4v1709860876135!5m2!1ses!2sus"
 width="1000" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>